$primary-color: #561269;
$secondary-color: #01687b;
$button-text-color: #9aacff;
$dark-text-color: #022c33;
$light-text-color: #d9abe6;
$border-color: #f9f295;
$button-color: #e5a01d;
$accent-color: #ff4d00;
$black-color: black;
$white-color: white;
$gray-color: #a6a6a6;