@use 'sass:color';
@use '../styles/_variables.scss';
@use '../styles/_mixins.scss';

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 48px;
  padding: 0.75rem 1rem;
  background-color: variables.$button-color;
  color: variables.$dark-text-color;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background-color: color.scale(variables.$button-color, $lightness: -10%);
    }

    @include mixins.tablet {
    width: auto;
    min-height: auto;
    padding: 0.5rem 1.2rem;
    }


  }

.btn-medium {
  @extend .btn;
  min-height: 48px;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  font-size: 1.6rem;

  @include mixins.tablet {
    padding: 0.5rem 1.25rem;
  }
}

.btn-small {
  @extend .btn;
  width: auto; 
  min-height: 36px;
  padding: 0.35rem 0.75rem;
  border-radius: 6px;
  font-size: 1.6rem;

  @include mixins.tablet {
    padding: 0.35rem 0.75rem;
  }
}