@use '../styles/_variables.scss';

.footer {
  text-align: center;
  padding: 1.2rem;
  background: variables.$dark-text-color;
  color: variables.$secondary-color;
  margin-top: auto;
  font-size: 0.9rem;
  p {
    font-size: 1rem;
    color: variables.$button-text-color;
  }
}