@use '../styles/_variables.scss';
@use '../styles/_mixins.scss';

.header {
  background: variables.$dark-text-color;
  border-bottom: 1px solid variables.$button-color;
  width: 100%;
  overflow: hidden;
  padding: 0.9rem 0;
  }

.ticker-wrapper {
  width: 100%;
  display: flex;
}

.header-title {
  font-family: 'Tangerine', cursive;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  word-spacing: 0.6rem;
  color: variables.$button-color;
  margin: 0;
  white-space: nowrap; 
  display: inline-block;
  animation: scroll-left-to-right 40s linear infinite; 
}

@include mixins.tablet {
  .header-title { 
    font-size: 2.5rem; 
  }
}

@keyframes scroll-left-to-right {
  0% {
    transform: translateX(-100%); 
  }
  100% {
    transform: translateX(100vw);
  }
}
